@charset "utf-8";
/* CSS Document */
* html .clearfix {
	height: 1%;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:after, :before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.container:after, .container:before {
	display: table;
	content: " ";
}
ul, menu, dir {
	display: block;
	list-style-type: none;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}
html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0,0,0,0)
}
body {
	font: normal 13px/1.4 Arial, Helvetica, sans-serif;
	line-height: 1.42857143;
	color: #333;
}
button, input, select, textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit
}
a {
	color: #333;
	text-decoration: none
}
a:focus, a:hover {
	color:#2A80B9
}
a:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}
.wrap, .wmn {
	width: 100%;
	float: left
}
.container {
	padding-right: 0px;
	padding-left: 0px;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width:768px) and (max-width:991px) {
.hidden-sm {
	display: none!important
}
}
@media (max-width:767px) {
.hidden-xs {
	display: none!important
}
}
 @media (min-width:768px) {
.container {
	width: 750px
}
}
@media (min-width:992px) {
.container {
	width: 960px
}
.hidden-lg {
	display: none
}
}
@media (min-width:1200px) {
.container {
	width: 1100px
}
.hidden-lg {
	display: none
}
}
@media (min-width:768px) {
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
	float: left
}
.col-sm-12 {
	width: 100%
}
.col-sm-11 {
	width: 91.66666667%
}
.col-sm-10 {
	width: 83.33333333%
}
.col-sm-9 {
	width: 75%
}
.col-sm-8 {
	width: 66.66666667%
}
.col-sm-7 {
	width: 58.33333333%
}
.col-sm-6 {
	width: 50%
}
.col-sm-5 {
	width: 41.66666667%
}
.col-sm-4 {
	width: 33.33333333%
}
.col-sm-3 {
	width: 25%
}
.col-sm-2 {
	width: 16.66666667%
}
.col-sm-1 {
	width: 8.33333333%
}
}
@media (min-width:992px) {
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
	float: left
}
.col-md-12 {
	width: 100%
}
.col-md-11 {
	width: 91.66666667%
}
.col-md-10 {
	width: 83.33333333%
}
.col-md-9 {
	width: 75%
}
.col-md-8 {
	width: 66.66666667%
}
.col-md-7 {
	width: 58.33333333%
}
.col-md-6 {
	width: 50%
}
.col-md-5 {
	width: 41.66666667%
}
.col-md-4 {
	width: 33.33333333%
}
.col-md-3 {
	width: 25%
}
.col-md-2 {
	width: 16.66666667%
}
.col-md-1 {
	width: 8.33333333%
}
.sidebar {
	width: 20%;
}
.mainContent {
	width: 60%
}
}
@media (min-width:1200px) {
.col10, .col11, .col12, .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9 {
	float: left;
}
.col12 {
	width: 100%
}
.col11 {
	width: 91.66666667%
}
.col10 {
	width: 83.33333333%
}
.col9 {
	width: 75%
}
.col8 {
	width: 66.66666667%
}
.col7 {
	width: 58.33333333%
}
.col6 {
	width: 50%
}
.col5 {
	width: 41.66666667%
}
.col4 {
	width: 33.33333333%
}
.col3 {
	width: 25%
}
.col2 {
	width: 16.66666667%
}
.col1 {
	width: 8.33333333%
}
}
@media (max-width:768px) {
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	float: left
}
.col-xs-12 {
	width: 100%
}
.col-xs-11 {
	width: 91.66666667%
}
.col-xs-10 {
	width: 83.33333333%
}
.col-xs-9 {
	width: 75%
}
.col-xs-8 {
	width: 66.66666667%
}
.col-xs-7 {
	width: 58.33333333%
}
.col-xs-6 {
	width: 50%
}
.col-xs-5 {
	width: 41.66666667%
}
.col-xs-4 {
	width: 33.33333333%
}
.col-xs-3 {
	width: 25%
}
.col-xs-2 {
	width: 16.66666667%
}
.col-xs-1 {
	width: 8.33333333%
}
}
.rowmn {
	width: 100%;
	float: left;
}
.col10, .col11, .col12, .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9 {
	position: relative;
	min-height: 1px;
	padding-right: 5px;
	padding-left: 5px;
}
.fleft {
	float: left
}
.fright {
	float: right
}
.clearfix {
	display: block;
	clear: both;
}
.pagination {
	display: inline-block;
	padding-left: 0;
	margin: 20px 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 100%;
}
.pagination a, .pagination b {
	display: inline-block;
	margin: 0 3px;
}
.pagination a, .pagination b {
	position: relative;
	padding: 2px 8px;
	margin-left: 1px;
	line-height: 1.42857143;
	color: #fff;
	text-decoration: none;
	background: #3389D7;
	-webkit-border-radius: 10%;
	-moz-border-radius: 10%;
	border-radius: 10%;
	border: solid 1px #3181CB
}
.pagination a:hover {
	cursor: default
}
.pagination a:focus, .pagination a:hover, .pagination b {
	border: solid 1px #2A80B9;
	background-color: #2A80B9;
}
 
.icon-r {
	-ms-transform: rotate(180deg); /* IE 9 */
	-webkit-transform: rotate(180deg); /* Safari */
	transform: rotate(180deg);
}
.text-center {
	text-align: center !important
}
.btn {
	display: inline-block;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px
}
.btn i.glyphicon {
	margin-right: 5px
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}
.btn.focus, .btn:focus, .btn:hover {
	color: #333;
	text-decoration: none
}
.btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc
}
.breadcrumb {
	list-style: none;
	font-size: 12px;
	clear: both;
	 
	margin-top:10px;
	padding-left:5px;
	border-bottom: dotted 1px #ccc;
	padding-bottom:5px
}
.breadcrumb li {
	display: inline-block
}
.breadcrumb li+li:before {
	content: " \00bb ";
	color: #00743C;
	padding-left: 5px;
	padding-right: 5px;
}
.breadcrumb li {
}
.breadcrumb li a {
	text-decoration: none;
}
.breadcrumb li.active a, .breadcrumb li:active a, .breadcrumb li:focus a {
}
.breadcrumb li a:hover {
	text-decoration: none;
}
.input-group {
	display: table;
	position: relative;
	border-collapse: separate;
}
.input-group-addon:first-child {
	border-right: 0;
}
.input-group-addon {
	padding: 6px 12px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: #555;
	text-align: center;
	background-color: #eee;
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 1%;
	white-space: nowrap;
	vertical-align: middle;
	display: table-cell;
	border-collapse: separate;
}
.input-group-addon:first-child {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.input-group .form-control {
	display: table-cell;
	position: relative;
	z-index: 2;
	margin: 0;
	padding: 0;
	float: left;
	width: 97%;
	margin-bottom: 0;
	display: block;
	height: 30px;
	font-size: 12px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	text-indent: 10px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-group {
	margin-bottom: 10px;
	width: 100%;
}
.form-group label {
	float: left;
	display: inline-block;
	margin-bottom: 5px;
	font-weight: 700;
}
.text-left {
	text-align: left !important
}
.text-right {
	text-align: right !important
}
.text-center {
	text-align: center
}
.text-justify {
	text-align: justify
}
.text-nowrap {
	white-space: nowrap
}
.text-lowercase {
	text-transform: lowercase
}
.text-uppercase {
	text-transform: uppercase
}
.text-capitalize {
	text-transform: capitalize
}
.border0 {
	border: 0 !important
}
.red {
	color: #f00 !important
}
.hidden {
	display: none !important
}
.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent
}
.caretL {
	display: inline-block;
	width: 0;
	height: 0;
	margin-right: 10px;
	vertical-align: middle;
	border-left: 5px solid;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	float: left;
	margin-top: 5px;
	color: #FFA200
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}
.btn.focus, .btn:focus, .btn:hover {
	color: #333;
	text-decoration: none
}
.btn.active, .btn:active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
	box-shadow: inset 0 3px 5px rgba(0,0,0,.125)
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
	pointer-events: none;
	cursor: not-allowed;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	box-shadow: none;
	opacity: .65
}
.btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc
}
.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad
}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
	background-image: none
}
.btn-default.disabled, .btn-default.disabled.active, .btn-default.disabled.focus, .btn-default.disabled:active, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled], .btn-default[disabled].active, .btn-default[disabled].focus, .btn-default[disabled]:active, .btn-default[disabled]:focus, .btn-default[disabled]:hover, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default.active, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:hover {
	background-color: #fff;
	border-color: #ccc
}
.btn-default .badge {
	color: #fff;
	background-color: #333
}
.btn-primary {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4
}
.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #286090;
	border-color: #204d74
}
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
	background-image: none
}
.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled].active, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
	background-color: #337ab7;
	border-color: #2e6da4
}
.btn-primary .badge {
	color: #337ab7;
	background-color: #fff
}
.btn-success {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c
}
.btn-success.active, .btn-success.focus, .btn-success:active, .btn-success:focus, .btn-success:hover, .open>.dropdown-toggle.btn-success {
	color: #fff;
	background-color: #449d44;
	border-color: #398439
}
.btn-success.active, .btn-success:active, .open>.dropdown-toggle.btn-success {
	background-image: none
}
.btn-success.disabled, .btn-success.disabled.active, .btn-success.disabled.focus, .btn-success.disabled:active, .btn-success.disabled:focus, .btn-success.disabled:hover, .btn-success[disabled], .btn-success[disabled].active, .btn-success[disabled].focus, .btn-success[disabled]:active, .btn-success[disabled]:focus, .btn-success[disabled]:hover, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success.active, fieldset[disabled] .btn-success.focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:hover {
	background-color: #5cb85c;
	border-color: #4cae4c
}
.btn-success .badge {
	color: #5cb85c;
	background-color: #fff
}
.btn-info {
	color: #fff;
	background-color: #5bc0de;
	border-color: #46b8da
}
.btn-info.active, .btn-info.focus, .btn-info:active, .btn-info:focus, .btn-info:hover, .open>.dropdown-toggle.btn-info {
	color: #fff;
	background-color: #31b0d5;
	border-color: #269abc
}
.btn-info.active, .btn-info:active, .open>.dropdown-toggle.btn-info {
	background-image: none
}
.btn-info.disabled, .btn-info.disabled.active, .btn-info.disabled.focus, .btn-info.disabled:active, .btn-info.disabled:focus, .btn-info.disabled:hover, .btn-info[disabled], .btn-info[disabled].active, .btn-info[disabled].focus, .btn-info[disabled]:active, .btn-info[disabled]:focus, .btn-info[disabled]:hover, fieldset[disabled] .btn-info, fieldset[disabled] .btn-info.active, fieldset[disabled] .btn-info.focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:hover {
	background-color: #5bc0de;
	border-color: #46b8da
}
.btn-info .badge {
	color: #5bc0de;
	background-color: #fff
}
.btn-warning {
	color: #fff;
	background-color: #f0ad4e;
	border-color: #eea236
}
.btn-warning.active, .btn-warning.focus, .btn-warning:active, .btn-warning:focus, .btn-warning:hover, .open>.dropdown-toggle.btn-warning {
	color: #fff;
	background-color: #ec971f;
	border-color: #d58512
}
.btn-warning.active, .btn-warning:active, .open>.dropdown-toggle.btn-warning {
	background-image: none
}
.btn-warning.disabled, .btn-warning.disabled.active, .btn-warning.disabled.focus, .btn-warning.disabled:active, .btn-warning.disabled:focus, .btn-warning.disabled:hover, .btn-warning[disabled], .btn-warning[disabled].active, .btn-warning[disabled].focus, .btn-warning[disabled]:active, .btn-warning[disabled]:focus, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning.active, fieldset[disabled] .btn-warning.focus, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning:hover {
	background-color: #f0ad4e;
	border-color: #eea236
}
.btn-warning .badge {
	color: #f0ad4e;
	background-color: #fff
}
.btn-danger {
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a
}
.btn-danger.active, .btn-danger.focus, .btn-danger:active, .btn-danger:focus, .btn-danger:hover, .open>.dropdown-toggle.btn-danger {
	color: #fff;
	background-color: #c9302c;
	border-color: #ac2925
}
.btn-danger.active, .btn-danger:active, .open>.dropdown-toggle.btn-danger {
	background-image: none
}
.btn-danger.disabled, .btn-danger.disabled.active, .btn-danger.disabled.focus, .btn-danger.disabled:active, .btn-danger.disabled:focus, .btn-danger.disabled:hover, .btn-danger[disabled], .btn-danger[disabled].active, .btn-danger[disabled].focus, .btn-danger[disabled]:active, .btn-danger[disabled]:focus, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger.active, fieldset[disabled] .btn-danger.focus, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger:hover {
	background-color: #d9534f;
	border-color: #d43f3a
}
.btn-danger .badge {
	color: #d9534f;
	background-color: #fff
}
.btn-link {
	font-weight: 400;
	color: #337ab7;
	border-radius: 0
}
.btn-link, .btn-link.active, .btn-link:active, .btn-link[disabled], fieldset[disabled] .btn-link {
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none
}
.btn-link, .btn-link:active, .btn-link:focus, .btn-link:hover {
	border-color: transparent
}
.btn-link:focus, .btn-link:hover {
	color: #23527c;
	text-decoration: underline;
	background-color: transparent
}
.btn-link[disabled]:focus, .btn-link[disabled]:hover, fieldset[disabled] .btn-link:focus, fieldset[disabled] .btn-link:hover {
	color: #777;
	text-decoration: none
}
.btn-group-lg>.btn, .btn-lg {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
	border-radius: 6px
}
.btn-group-md>.btn, .btn-md {
	padding: 6px 12px;
	font-size: 15px;
	line-height: 1.3333333;
	border-radius: 6px
}
.btn-group-sm>.btn, .btn-sm {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px
}
.btn-group-xs>.btn, .btn-xs {
	padding: 1px 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px
}
.btn-block {
	display: block;
	width: 100%
}
.btn-block+.btn-block {
	margin-top: 5px
}
.input-group [type="submit"] {
	width: 90px;
	margin-left: 100px;
	background-size: auto 100%;
	color: #fff;
	border: 0;
	height: 30px;
	text-align: center;
	padding: 0;
	text-indent: 0
}
.f-lg {
	font-size: larger !important
}
.commentPost {
	width: 100%;
	float: left
}
.itemFeedback {
	float: left;
	width: 600px;
}
.postActor {
	width: 10%;
	float: left
}
.postActor img {
	max-width: 98%
}
.postBody {
	width: 90%;
	float: left;
}
.postContainer {
	width: 100%;
	float: left
}
.innerPostContainer {
	padding: 10px;
	padding-top: 0;
}
.nameActor b {
	color: #3B7DC5;
}
.nameActor span {
	color: #aaa
}
.contentP {
	color: #000
}
.toolPost a, .toolPost span {
	margin-left: 5px;
	text-decoration: none
}
.toolPost a, .likeP {
	color: #3B7DC5;
}
.iconLike {
	background: url(images/likebtn.png) no-repeat;
	overflow: hidden;
	padding: 2px 10px;
	padding-bottom: 0;
}
.postDateTime {
	color: #aaa
}
.postReplies {
	width: 100%;
	float: left
}
.innerReplies {
	padding: 10px;
}
.itemReplies {
	width: 100%;
	float: left
}
.actorAdd:before {
	content: "·  ";
	color: #666;
}
.toolPost a+a:before, .toolPost a+span:before, .toolPost span+span:before {
	content: " · ";
	color: #666;
}
/*commentForm*/
.commentForm {
	width: 100%;
	float: left;
	margin-bottom: 15px;
}
.innerCommentForm {
	width: 100%;
	float: left
}
.photoActor {
	width: 10%;
	float: left
}
.inputNameAdd {
	float: left;
	width: 90%
}
.inputGroup {
	width: 50%;
	float: left
}
.inputAdd, .inputName {
	border: solid 1px #ccc;
	text-indent: 10px;
	height: 25px;
	width: 200px;
	margin-left: 10px;
}
.inputMess {
	width: 100%;
	float: left
}
.innerMess {
	padding: 10px 0;
}
.txtMess {
	width: 99%;
	min-height: 50px;
	border: solid 1px #ccc;
	resize: vertical
}
.btnComment {
	padding: 5px 15px;
	background: #999;
	color: #000;
	float: right;
}
.btn a {
	text-decoration: none
}
.frmn {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	float: left;
	margin: 10px 0%;
	min-height: 1px;
	display: table;
}
.frm_group {
	width: 100%;
	float: left;
	margin: 5px 0;
}
.lbl {
	width: 20%;
	text-align: right;
	color: #333;
	float: left;
	margin: 0;
	padding: 0;
	font-weight: bold;
}
.input_group {
	float: left;
	width: 69%;
	text-align: left;
	margin-left: 1%;
	vertical-align: top;
}
.input_group .form-control {
	height: 30px;
	padding: 0;
	margin: 0;
	text-indent: 10px;
	border: solid 1px #aeaeae;
	max-width: 100%;
	width: 100%
}
@media (min-width:768px) {
.input_group .form-control {
	width: 350px;
}
}
.red {
	color: red
}
.btnGrp {
	float: right;
	width: 69%;
	margin-bottom: 15px
}
textarea {
	resize: vertical
}
.yellow {
	color: #FF0
}
.white {
	color: #fff
}
#back-top {
	position: fixed;
	bottom: 30px;
	right: 30px;
}
#back-top {
	display: block;
	text-align: center;
	text-decoration: none;
	color: #fff;
	-webkit-transition: 0.9s;
	-moz-transition: 0.9s;
	transition: 0.9s;
	text-align: center;
	padding: 6px 10px 8px;
	background: rgba(0,0,0,0.4);
	-webkit-border-radius: 10%;
	-moz-border-radius: 10%;
	border-radius: 10%;
	z-index:5
}
#back-top:hover {
	color: #fff;
	background: rgba(39,174,95,0.9);
}
.side {
	padding-left: 0;
	width: 23%;
}
.side-left {
	float: left
}
.side-right {
	float: right
}
.main-content {
	padding-right: 0;
	width: 76%;
	float: right;
 
}
@media (max-width:768px) {
.side {
	width: 100%;
	padding: 5px;
 
}
 
.main-content {
	width: 100%;
	padding: 5px;
 
}
#back-top {
	position: fixed;
	bottom: 45%;
	right: -15px;
	padding: 20px 17px;
	border-radius: 50% 40% 40% 50%;
	background: rgba(46,205,113,0.9);
	font-size: larger;
	color:#fff
}
}

 button{ border:0; outline:none}