/*Nav Desktop*/
 
.navx .animated {
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
}
.navx {
	display: inline-block;
	clear: both;
	z-index: 99;
	position: relative;
	display: block;
	display: inline-block;
	float: right
}
.navx >ul {
	width: 100%;
	text-align: right;
}
.navx a {
	text-decoration: none;
	white-space: nowrap;
}
.navx ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.navx ul ul {
	display: none;
	position: absolute;
	text-align: left;
	background: #585B62;
}
.navx ul ul a {
	line-height: 30px;
	padding-right: 15px;
	padding-left: 25px;
	color: #fff
}
.navx ul ul ul {
	left: 100%;
	top: -1px;
	display: none !important
}
.navx ul ul li {
	position: relative;
	border-bottom: solid 1px #797C81;
	min-width: 190px;
}
.navx ul ul li:last-child {
	border: 0;
}
.navx ul ul li:hover {
	background: #797C81;
}
.navx ul ul li:hover> a {
	color: #fff;
}
.navx ul li:hover>ul {
	display: block;
}
.navx>ul>li {
	position: relative;
	display: inline-block;
	margin: 0;
	text-align: center;
}
.navx>ul>li>a {
	text-transform: uppercase;
	color: #fff;
	font-size: 15px;
	line-height: 41px;
	padding: 10px 15px;
	font-weight: 400;
}
.navx>ul>li:hover, .navx>ul>li.active, .navx>ul>li:focus {
	background: #378BD7
}
.navx>ul>li:hover>a, .navx>ul>li.active>a, .navx>ul>li:focus>a {
	color: #fff;
}
.navx ul i.fa {
	font-size: 5px;
	color: #fff;
	left: 10px;
	position: absolute;
	top: 40%
}
.navx > ul > li > ul {
	top: 100%;
	left: 0;
	margin-top: 0px;
	z-index: 9;
}
.clearfix:after {
	clear: both;
}
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
/* nav mobile*/
#pull {
	display: none;
	position: relative;
	height: 30px;
	width: 30px;
	text-align: center;
	width: 100%;
}
#pull i {
	font-size: 23px;
	margin-top: 5px;
	color: #fff;
}
#pull .closeIco {
	color: #fff
}
@media screen and (min-width: 768px) {
.navx {
	height: 90px;
}
.navx>ul>li>a {
	line-height: 90px;
	font-size: 14px;
}
}
@media screen and (max-width: 768px) {
.container {
	width: 100%
}
.menu .animated {
	-webkit-animation-duration: 0s;
	animation-duration: 0s;
}
.navx {
	padding: 5px;
	text-align: center;
	width: 100%;
}
#pull {
	display: block;
}
.parent:after {
	content: "\00bb";
	color: #000;
	margin-left: 20px;
	padding-right: 30px;
	font-size: 20px;
	padding-left: 10px;
	padding: 10px 20px;
}
#btnClose {
	display: block;
}
.navx >ul {
	display: none;
	margin-top: 0px;
	position: absolute;
	top: 100%;
	left: 0px;
	width: 100%;
	background: #EAE8E3;
}
.navx >ul>li {
	float: none;
	border: 0;
	margin: 0;
	text-align: left;
	width: 100%;
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
}
.navx>ul>li:hover>a, .navx>ul>li.active>a, .navx>ul>li:focus>a {
	color: #fff
}
.navx >ul>li>a {
	color: #000;
	padding: 0;
	padding-left: 35px;
}
.navx>ul>li:first-child {
}
.navx ul li, .navx ul, .navx ul ul {
}
.navx ul li {
	border-bottom: solid #ccc 1px;
}
.navx ul li:hover>ul {
	display: none;
}
.navx ul ul {
	position: relative;
	clear: both;
	top: auto;
	left: auto;
	background: #fff;
	border: 0;
}
.navx ul ul li {
	border-bottom: #ccc solid 1px;
	background: #fff;
}
.navx ul ul a {
	padding-left: 35px;
	color: #000;
	line-height: 35px;
}
.navx > ul > li > ul {
	position: relative;
	clear: both;
	top: auto;
	left: auto;
	background: #fff;
}
.open {
	border-bottom: 0;
	padding-bottom: 0px !important;
}
.navxMb li {
	color: #fff
}
#btnClose span {
	color: #3294B9;
	margin-left: 5px;
	margin-bottom: 5px;
	font-size: 1em;
	border: solid 1px #3294B9;
	padding: 3px 7px;
	-webkit-border-radius: 15px 15px 15px 15px;
	border-radius: 15px 15px 15px 15px;
}
#btnClose {
	color: #3294B9;
	padding-bottom: 10px
}
}
